@import 'node_modules/bootstrap/scss/bootstrap.scss';

:root {
    width: 100vw;
    overflow-x: hidden;
}

#firstpage {
    height: 100vh;
}

body {
   background-image: url('../images/Illustration.svg');
   background-repeat: no-repeat;
   background-position: right -50px;
   background-color: white;
}

h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
}

#registerbutton {

    background-color:#ffffff;
    color:#BADC58;

    width: 120px;
    height: 50px;
    border-radius: 5px;

    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;

    transition: 700ms;

    &:hover {
        background-color:lightgray;
        color:#7bdf38;
    }

}

a {
    color: white;
    font-family: Mulish;
    font-weight: 500;

    &:hover {
        color: whitesmoke;
    }
    
    &:active {
        color: gray;
    }

}

#Healthy {

    span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    color: rgb(186, 220, 88);
    }

}

#register {
    max-width: 500px;
}

#logo {
    margin: 0 auto;
}

#text {
    width: 85vw;
}

#searchbox {
    width: 28vw;
    height: 52px;

    border-radius: 5px;
    border-color: #2D3561;

    transform: translate(2.5%);
}

.search::placeholder {
    color: #B4B4B4;
    font-family: Mulish;
    font-size: 20px;
}

#searchicon {
    transform: translate(10%);

   img {
       background-image: url(../images/icons/search.svg);
       background-repeat: no-repeat;
       width: 52px;
       height: 52px;
       border-radius: 5px;

       &:hover {
            background-color: black;
        }
   }

}

#secondpage {
    height: 100vh;
    background-color: #FAFAFC;
}

#seerecipe {

    background-color: #BADC58;
    color: white;

    font-family: Mulish;
    font-size: 16px;

    width: 154px;
    height: 40px;

    transition: 700ms;

    &:hover {
        background-color: #bbdc58b6;
    }

}

#recipename {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;

    color: #1D164D;
}

#card {

    transition: box-shadow 700ms;
    box-shadow: 0 0 25px rgba(33,33,33,.2);

    width: 528px;
    height: 225px;
    border-radius: 7px;

    &:hover {
        box-shadow: none;
    }

}

#title {

    height: 8vh;
    padding-top: 30px;

    h3 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;

        color: #1D164D;
    }

    h6 {
        font-family: Mulish;
        font-size: 16px;

        color:#9E9BAF;
    }

}

#image {
    width: 253px;
    height: 225px;

    transform: translate(-5%);
}

#thirdpage {
    height: 100vh;

    background-color: white;
    background-image: URL('../images/bloco_services.svg');
    background-repeat: no-repeat;
}

#bigbox {

    transform:translate(21%, 45%);

    h3 {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;

        color: #2D3561;

        transform: translate(-3%, -20%);
    }

    p {
        font-family: Mulish;
        font-size: 16px;
        font-weight: regular;

        color: #BCBCBC;
    }

}

.new-line {
    white-space: pre-line;
}

.knowmore {
    transform: translate(-80%, 50%);
}

#carousel {
    transform: translate(17%, 25%);
}

#infocard {

    transition: box-shadow 700ms;
    box-shadow: 0 0 25px rgba(33,33,33,.2);

    border-radius: 6px;

    &:hover {
        box-shadow: none;
    }

    h4 {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;

        color:#2D3561;
    }

    .author {
        transform: translateY(70%);
    }

    .author-name {
        font-family: Mulish;
        font-size: 16px;

        color: #9E9BAF;

        transform: translate(10%, 20%);
    }

}

.arrow {
    transform: translate(950%, -106%);

}

#fourthpage {
    height: 100vh;
    width: 100vw;
    
    background-color: #FAFAFC;
}

#slider {
    width: 82vw;

    transform: translate(20.5%, 15%);
}

.slick-prev:before,
.slick-next:before {

    color: #9E9BAF;

}

#btn-right {
    background-color: transparent;

    width: 50px;
    height: 50px;

    transform: translate(2400%, -470%);

    #arrowright {
        transform: translate(0%, 10%);
    }

}

#btn-left {
    background-color: transparent;

    width: 50px;
    height: 50px;
    
    transform: translate(-100%, 547%);
}

#fifthpage {
    width: 100vw;
    height: 100vh;

    background-image: URL('../images/bloco_final_image.svg');
    background-repeat: no-repeat;
    background-position: 56vw -3vh;
}

#membership {

    transform: translate(40%, 140%);

    #join-title {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;

        color: #2D3561;
    }

    #member-email {

        #enteremail {
            width: 344px;
            height: 54px;

            border-radius: 5px;
            border-color: #707070;
        }

        #enteremail::placeholder {
            font-family: Mulish;
            font-size: 16px;

            color: #9E9BAF;
        }

        #join {

            background-color: #BADC58;
            color: white;
            
            font-family: Mulish;
            font-size: 16px;
            
            width: 93px;
            height: 54px;
            
            transition: 700ms;
            
            &:hover {
                background-color: #bbdc58b6;
            }
    
        }

    }
    
}

#bar {
    transform: translateY(700%);
}

#policy,
#terms {
    font-family: Mulish;
    font-size: 16px;

    text-decoration: none;

    color: #9E9BAF;
}

#terms {
    transform: translate(340%);
}

#policy {
    transform: translate(480%);
}

#copyright {
    font-family: Mulish;
    font-size: 16px;
    
    color: #1D164D;

    transform: translate(-20%);
}

#signup {
    height: 100vh;
    width: 100vw;

    background-image: url('../images/Illustration.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 250%;
}

form {
    transform: translate(29%);

    label {
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;

        color: #9E9BAF;
    }

    input {
        font-weight: 400;
    }

    input::placeholder {
        font-family: Mulish;
        font-size: 16px;

        color: #B4B4B4;
    } 
}

#registertitle {
    transform: translate(19%, 15%);

    h2 {
        font-family: Montserrat;

        color: #2D3561;
    }

}

.form-group {
    margin-top: 5px;
}

#submit {
    font-family: Mulish;
    font-weight: 700;

    background-color: #BADC58;
    color: white;
}

#divuf {
    margin-left: 10px;
}

#labelcity {
    margin-right: 10px;
}