@media (min-width: 1200px) and (max-width: 2074px){
    :root {
        width: auto;
    }

    #firstpage {
        width: auto;
        height: 100vh;

        #content { 

            justify-content: center;

            align-items: center;

            transform: translate(0%, -20%);

            .searchrecipe {
                transform: translate(4.5%);
            }

            #searchbox {
                width: 25rem;

                transform: translate(0%);
            }

            h1 {
                font-family: Montserrat;
                font-weight: 700;
                font-size: 5rem;
            }

        }
    }

    #secondpage {
        width: auto;
        height: 100vh;

        #card {
            margin-top: 10px;
        }

        #cards {
            transform: translateY(-5%);
        }

    }

    #thirdpage {
        width: auto;
        height: 100vh;

        justify-content: center;

        #bigbox {

            width: 45rem;

            transform:translate(34%, 30%);
        
            h3 {
                width: 40rem;

                font-family: Montserrat;
                font-size: 36px;
                font-weight: 700;

                justify-content: center;
        
                color: #2D3561;
        
                transform: translate(0%, -50%);
            }
        
            p {
                font-family: Mulish;
                font-size: 20px;
                font-weight: regular;

                justify-content: center;
        
                color: #BCBCBC;
            }

            .knowmore {
                transform: translate(0%, 40%);
            }
        
        }
    }

    #fourthpage {
        width: auto;
        height: 100vh;

        align-items: center;

        justify-content: end;

        #slider {
            width: 70rem;
            height: 80vh;
        
            justify-content: start;

            align-items: center;

            align-content: center;

            transform: translate(8%, 20%);

            #btn-right {
                background-color: transparent;
            
                width: 50px;
                height: 50px;

                justify-content: end;
            
                transform: translate(2040%, -470%);
            
                #arrowright {
                    transform: translate(0%, 10%);
                }
            
            }

        }

        #title {
            transform: translate(0%);

            position: center;
            
            justify-content: center;

            position: top;
        }

    }

    #fifthpage {
        width: auto;
        height: 100vh;

        #terms {
            width: 10rem;

            transform: translate(430%, 500%);
        }
        
        #policy {
            width: 10rem;

            transform: translate(550%, 400%);
        }

        #copyright {

            transform: translateY(300%);

        }
        
        #bar {
            transform: translateY(180%);

            justify-content: bottom;

            display: flex;
            flex-direction: column-reverse;

        }
    }
}